html{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, #e2b0ff, #8ecdff);
    
}

.header{
    display: inline-flex;
    width: 100%;   
    z-index: 3; 
}
.logo{

    width: 25%

}
.header h1{
    color: #fff;
    text-align: center;
    flex-wrap: nowrap;
    width: 75%;
    font-size: 30px;
    margin-top: -.05%;
    margin-left: 5%;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.header .social-nav{
    display: flex;
    justify-content: right;
    margin-right: 2.5%;
    margin-left: 2%;
    width: 25%;
}

.social-links img{
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.information{
    display: flex;
    width: 100%;

}

@media screen and (max-width: 1300px) {
    .left-column h2{
        display: none;
        
    }
    .profile-pic{
        display: none;
    }
    .about-info-box{
        display: none;
    }

    .right-column{
        display: none;
    }
    
}

.left-column{
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 50px;
    position: static;
}
.left-column h2{
    font-size: 25px;
    margin-left: 25%;
    color: #fff;
    min-width: none;
    
}
.profile-pic {
    width: 260px;
    height: 220px;
    border: 5px solid #e2b0ff;
    margin-left: 25%;
    

}

.profile-pic img {
    width: 260px;
    height: 220px;

}
.about-info-box{
    margin-top: 5%;
    width: 260px;
    text-align: left;
    border: 5px;
    border-color: #c4d8e9;
    border-style: solid;
    margin-left: 25%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    font-size: 14px;
    color: #fff;

}
.about-info-box p{
    padding-left: 3%;
    margin-bottom: 0%;
    font-size: 16px;
    
}



.about-info-box ul{
    margin-top: -.5%;
}
.about-info-box li{
    padding-top: 3%;
}

.overlay img{
    width: 2000px;
    height: 2000px;
    z-index: 2;
}

.middle-column{
    align-items: center;
    width: 50%;
    margin-left: 25%;
    

}
#circle{
    width: 50%;
    height: 1000px;
    position: absolute;
    top: -25%;
    left: 25%;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.project img{
    min-width: 75px;
    height: max-content;

}

.project{
    position: absolute;
    display: flex;
    color: #fff;
}


.project div{
    border: 5px solid #c4d8e9;
    margin-left: 20px;
    padding-left: 10px;
    min-width: 350px;
    max-width: 700px;
    max-height: fit-content;
    
}



.project p{
    margin-top: 3px;
    margin-right: 5px;

}

#proj1{
    display: flex;
}

.one{
    top: 450px;
    right: 100px;
    z-index: 0;

}

#proj2{
    display: none;
}

.two{
    top: 450px;
    right: 100px;
    z-index: 1;
}

#proj3{
    display: none;
}

.three{
    top: 450px;
    right: 100px;
    z-index: 1;

}
.overlay{
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    position: absolute;
}
.controls{
    position: sticky;
    left: 50%;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}


#next{
    margin-left: -65%;
    margin-top: 20%;
    width: 75px;
    cursor: pointer;
    transform: rotate(0deg);
    background: linear-gradient(to top, #e2b0ff, #8ecdff);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-color: #c4d8e9;
    position: relative;
}


.right-column{
    width: 25%;
}

.right-column h2{
    color: #fff;
    float: right;
    margin-right: 25%;
}

.first-pic-box{
    float: right;
    width: 260px;
    height: 146px;
    background-image: url(https://lh3.googleusercontent.com/QN-zSETBdcZ_gYkFR1saaBkuViJpuAbq4de_exOvSxgEO_pQLvlOBFJD_H8Ofy1FcTkVpmHgI28=w1440-ns-nd-rj);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #c4d8e9;
    margin-right: 25%;
    margin-bottom: 5%;

}
.second-pic-box{
    float: right;
    width: 260px;
    height: 146px;
    background-image: url(https://www.thesun.co.uk/wp-content/uploads/2022/04/eagles-logo.png?strip=all&quality=100&w=1920&h=1080&crop=1);
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #c4d8e9;
    margin-right: 25%;
    margin-bottom: 5%;

}

.third-pic-box{
    float: right;
    width: 260px;
    height: 146px;
    background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F05%2Fkonami-browser-dance-dance-revolution-v-release-000.jpg?w=960&cbr=1&q=90&fit=max);
    background-repeat: no-repeat;
    background-size: 260px 148px;
    border: 5px solid #c4d8e9;
    margin-right: 25%;
    margin-bottom: 5%;

}


.other-info-box{
    float: right;
    margin-right: 25%;
    margin-top: 10px;
    width: 260px;
    height: 210px;
    text-align: left;
    border: 5px;
    border-color: #c4d8e9;
    border-style: solid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    

}

.other-info-box p{
    margin-left: 10px; 
    font-size: 14px;  
    margin-bottom: 2%;
    margin-right: 10px;
    color: white;
}

.other-info-box li{
    margin-left: 10px; 
    font-size: 14px;  
    margin-bottom: 2%;
    margin-right: 10px;
    color: white;
}


